body 
    font-family: "Microsoft Yahei", "微软雅黑",Tahoma, Helvetica, Arial, sans-serif
    // font-family Arial,Verdana,Sans-serif
    font-size 14px
.tl_heade
    width 100%
    margin 0 auto
    background-color rgba(255, 255, 255, 0.2)
    position absolute
    top 0px
    z-index 100 
    .tl_daohang
        display table
        margin 0 auto
.tl_width
    width 180px
.tl_head:hover
    background-color transparent !important   
.tl_nav
    color #FFF
    &:hover
        color #E45628      
.tl_yuandian
    bottom -50px
    .tl_yd
        border 1px solid #F3520A
.tl_yd.active
    background-color #F3520A         
.tl_jump
    float right 
    margin-right -10%
    background-color rgb(243,84,20)
    border-color #DD4F1C
    color #fff
    &:hover
        color #fff
.prev,
.next
    position absolute
    top 50%
    left 35% 
.tl_block
    text-align center
    margin-top 30px
    margin-bottom 20px       
    .tl_bottom
        width 30px
        background-color rgba(248, 153, 1, 0.8)
        color #fff
        line-height 30px
        border-radius 50%
        margin 20px
.tl_product
    padding-left 4%
    // background linear-gradient(#EA764C, #DD4F1C)
    background-color #fff
    color #DD4F1C

    .tl_exhibition
        width 16%
        text-align center
        .tl_link
            color #fff
            font-size 16px
            font-weight bold  
            background-color #DD4F1C
            border-color transparent
            &:hover
                background-color #A03B12
                border-color transparent
        .tl_triangle
            content ""
            border 15px solid transparent
            border-top-color #A03B12
            position absolute
            top 100%
            left 50%
            margin-left -15px
.tl_content
    width 70%
    margin 60px auto 0px auto
.tl_introduce
    text-indent 2em 
    line-height 45px
    font-weight bold       
.tl_second
    background-color rgba(243, 245, 248, 0.9)
    padding-bottom 30px
.tl_feiyu
    width 40%
.tl_cooperation
    width 70%
.tl_customer
    color #6D7479
    margin-top 10px
    line-height 30px
// .tl-more
//     font-size 300px
//     color #B5ADAD
.tl_footer
    width 100%
    padding 0 10%
    color #E6E2E2
    .tl_address
        text-align left
        font-weight bold
        &:hover
            color #F9AD8F   
            text-decoration underline
    .tl_name
        color #FFF
        font-weight bold   
    .tl_weixin,
    .tl_weibo
        color #FFF
        background rgba(247 ,201, 171,0.5)
        margin-right 30px
        border-radius 90%
        padding 2%
.tl_contact
    position relative
    color #A24621
    .tl_icon
        position absolute
        top 10px
        left 10px
    .tl_icon1
        position absolute
        top 10px
        left 25px
    .tl_left
        padding-left 30px
        resize none    
.tooltip-inner
    background-color #fff
.tl_submit
    padding 5px
.tl_top
    position fixed
    right 1%
    bottom 1%
    width 50px
    height 50px
    z-index 1000
.s_block
    width 70%
    margin 10px auto
.s_yd
    height 300px
.ab_customer
    color #6D7479
    margin-top 50px
    text-indent 2em
    line-height 25px
// .tl_header
//     background-color #373B45
//     border-radius 0px
//     color #FFF
//     font-size 18px
//     padding 10px  0
.tl_header
    width 100%
    margin 0 auto
    background-color #373B45
    z-index 100
    .tl_daohang
        display table
        margin 0 auto
        width auto
.tl_logo
    width 100%
    
.tl_checked
    color #8E0000

.tl_footerimg
    background-size 100%
    padding-bottom 30px
.panel
    border-color transparent !important
// .test_3
//     width 100%
//     position absolute
//     top 0px
//     z-index 1000
// .test_4
//     background-color rgba(255,255,255,0.2)
// .test
//     width auto
//     display table
//     margin-left auto
//     margin-right auto



.tl_pro
    width 100%
    text-align center
    color #585454
    background-color #fff
    margin 0 auto 
    padding 25px 0