body 
    font-family "微软雅黑"
    font-size 14px
    margin 0
    padding 0
    list-style none
.tl_part
    margin-top 20px
.tl_logo
    float left
.tl_daohang
    margin-bottom 10px
    float right
    .nav-pills > li.active > a
        color #B6B6B6
        background-color rgb(195,13,34)
    .tl_switch
        color #B6B6B6
        &:hover
            background-color rgb(195,13,34)
.tl_zhuyetu
    clear both
    .tl_btn
        float right 
        background-color rgb(195,13,34)
        border-color rgb(195,13,34)
        color #fff
.tl_layout
    width 100%
    padding 0 8%
.tl_contact
    text-align left
    .tl_left
        background-color #475168
        color #FFF
    .tl_right
        background-color rgb(195,13,34)
        height 100%
        color #fff
        width 100%
.tl_teamleft
    background-color #F4F4F4
    .tl_width
        width 33.33333333%
        text-align center
        a
            background-color #6F6F6F
            color #fff
        a:hover
            background-color #F4F4F4
            color #6F6F6F
.tl_conten
    width 0px
    height 0px 
    overflow hidden
    border 10px solid transparent
    border-bottom-color #F4F4F4
    margin-left 20px
.tl_introduce
    background-color #F4F4F4
.tl_title
    text-align center
.tl_footer
    background-color #475168
    color #fff
    padding 5px 8%
    .tl_company
        line-height 20px
        margin 20px auto
    .tl_weibo,
    .tl_weixin
        width 50px
        line-height 50px
        background-color #989898
        text-align center
        margin-right 30px
        border-radius 50%
    .tl_form
        position relative
        .tl_icon
            position absolute
            left 10px
            top 10px
            color rgb(195,13,34)
        .tl_icon1
            position absolute
            left 30px
            top 10px
            color rgb(195,13,34)
        .tl_shuru
            padding-left 25px
            resize none 
.tl_solution
    text-align center
.tl_next,
.tl_prev
    background-image none !important
.tl_text
    color #6F6969
    font-size 14px
    line-height 30px
    
        
    